<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto">
        <main>
          {{ content }}
        </main>

        {% render "footer", metadata: site.metadata %}
      </div>
    </div>
  </body>
</html>
