---
layout: default
---

<div class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="block text-base text-center text-red-600 font-semibold tracking-wide uppercase">Ruby on Rails Developer</span>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Abdullah Hashim</span>
      </h1>    

      <section class="mt-12">
        <h2 class="text-xl leading-6 font-medium text-gray-900">Skills</h2>
        <div class="mt-3 flex space-x-3">
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-red-100 text-red-800">HTML</span>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-red-100 text-red-800">CSS</span>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-red-100 text-red-800">JavaScript</span>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-red-100 text-red-800">SQL</span>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-red-100 text-red-800">Ruby</span>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-red-100 text-red-800">Ruby on Rails</span>
        </div>
      </section>
      <p class="mt-8 text-xl text-gray-500 leading-8">Hey John,</p>

      <p class="mt-8 text-xl text-gray-500 leading-8">
      I'm self-taught, highly motivated and I will work hard to add value to any team or project.
      </p>

      <p class="mt-8 text-xl text-gray-500 leading-8">Thanks so much for the opportunity! I'm looking forward
      to our zoom on Monday. You asked for things like a personal website but I didn't have one! So I quickly put this
      one togther using <a class="underline text-gray-900 hover:text-red-500"
                           href="https://www.bridgetownrb.com/">bridgetown</a>.</p>
    </div>

    <div class="mt-6 prose prose-red prose-lg text-gray-500 mx-auto">
      <section>
        <h3>Background</h3>

        <p>Throughout my time as a butcher I programed as a hobby. When a developer role came up within the meat industry, I applied and was offered a job based on my industry knowledge and experience. I spent three years working on an in-house Rails application. While caring for my daugther full-time, I did freelance work and participated in Ruby meetups.</p>

        <ul>
          <li><strong>2018</strong>: I was a full-time carer for my disabled daughter.</li>
          <li><strong>2014</strong>: I was hired as a Junior Rails Developer.</li>
          <li><strong>2009</strong>: I became a head butcher.</li>
          <li><strong>2004</strong>: I qualified as butcher.</li>
          <li><strong>2003</strong>: I started training to be a butcher.</li>
        </ul>
      </section>
    </div>
  </div>
</div>
